@use "../functionSASS/function.scss" as *;

.editor__wrapper {
  //
 

  .editor__header {
    background-color: hsl(var(--color-900));
    display: flex;
    align-content: center;
    color: hsl(var(--color-500));

    > * {
      flex: 1 1 0px;
      font-family: var(--font-primary);
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 2px;
      color: var(--color-500);
      padding: 12px;
      text-transform: uppercase;
    }

    .editor__header--Left {
      display: flex;
      justify-content: space-between;
    }
  }

  .react-mde {
    //
    background-color: hsl(var(--color-1000));
    color: hsl(var(--color-100));
    display: flex;

    > * {
      flex: 1 1 0;

      // outline: 1px solid red;
    }
    .mde-header {
      display: none;
    }

    .mde-text {
      min-height: 100vh;
      width: 100%;
      background-color: hsl(var(--color-1000));
      border: none;
      border-right: rem(1) solid hsl(var(--color-500));
      color: hsl(var(--color-100));
      resize: none;

      &:focus {
        outline: rem(1) solid red;
      }
    }
  }
}
