/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  line-height: 1.1;
  font-size: 100%;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: inherit;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
button {
  cursor: pointer;
  margin: 0;
  background-color: transparent;
  border: none;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --color-100: 0 0% 100%;
  --color-200: 0 0% 96%;
  --color-300: 0 0% 89%;
  --color-400: 222 9% 78%;
  --color-500: 213 4% 51%;
  --color-600: 216 8% 38%;
  --color-700: 216 9% 23%;
  --color-800: 220 7% 18%;
  --color-900: 216 8% 12%;
  --color-1000: 225 9% 9%;

  --accent: 13 75% 58%;
  --accent-light: 21 86% 67%;

  --font-100: "Roboto", sans-serif;
  --font-200: "Roboto Slab", monospace;
  --sidebar-transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
